@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 15px arial, sans-serif;
  background-color: #d9d9d9;
}

h1 {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 35px;
  background: #000000;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 60%;
  max-width: 600px;
}

section details summary {
  background-color: tomato;
  padding: 2%;
  border-bottom: 2px solid #282828;
  color: #FFFFFF;
  font-weight: 600;
}

section details p {
  background-color: #282828;
  color: #FFFFFF;
  padding: 2%;
}